html, body{
    height: 100%!important;
    overflow:hidden;
}

.playField{
    height:100%;
    /*background-color:#20c997; */
    background-image: url("../../img/googleMaps.jpg");
}

.maxWidthNone{
    max-width: none!important;
}

.backgroundred{
    background-color:red;
    border:4px dashed black;
    height:100px;
}




.suspect{
    border: 1px solid white;
    background-color:#3e4551;
    color:white;
    text-align: center;
    border-radius:3%;
    border:2px solid white;
}

.suspect img{
    margin:auto;
   border-radius: 100%;
    border: 3px solid white;

}



